body{
font-family:Arial;
background:black;
color:white;
margin:0;
}

nav{
background:green;
padding:15px;
display:flex;
justify-content:space-between;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

section{
padding:40px;
}

button{
background:green;
color:white;
padding:10px;
border:none;
}

#chatbox{
position:fixed;
bottom:20px;
right:20px;
background:#111;
padding:15px;
width:220px;
border-radius:10px;
}